<table border="1" cellpadding="0" cellspacing="1">
 <tbody>
 <tr>
 <td>&nbsp; B.Viện Thống Nhất - Q.11, &nbsp;TP.HCM</td>
 </tr>
 <tr>
 <td>&nbsp; Tòa nhà VINCOM - 70-72 Lê Thánh Tôn Q.1, TP.HCM</td>
 </tr>
 <tr>
 <td>&nbsp; Bệnh viện C - Đà Nẵng</td>
 </tr>
 <tr>
 <td>&nbsp; Đại học Nông Lâm&nbsp; - TP.HCM</td>
 </tr>
 <tr>
 <td>&nbsp; Điện lực tỉnh Đắc Nông - Phan Bội Châu, Đăklăc</td>
 </tr>
 <tr>
 <td>&nbsp; Trung tâm&nbsp; CN cao Trường Đại học SP KT - TP.HCM</td>
 </tr>
 <tr>
 <td>&nbsp; Trụ sở Bộ Đội Biên Phòng - 25 Trần Khánh&nbsp; Dư, HN</td>
 </tr>
 <tr>
 <td>&nbsp; Chi cục thuế HN - Giảng Võ,&nbsp; Hà Nội</td>
 </tr>
 <tr>
 <td>&nbsp; C8, Lữ đoàn 144 - Nguyễn Tri Phương, HN</td>
 </tr>
 <tr>
 <td>&nbsp; Đường hạ ngầm 5B - Trâu Quỳ, Gia Lâm,&nbsp; HN&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp; Trụ sở Bộ công an - Cầu Giấy, HN</td>
 </tr>
 <tr>
 <td>&nbsp; Dự án cải tạo nâng cấp Ql2 - Phong Thổ, Lai Châu</td>
 </tr>
 <tr>
 <td>&nbsp; Cải tạo trụ sở làm việc Tỉnh ủy - Phú Thọ&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp; Các trạm thu phát sóng VIETTEL - &nbsp;Nhiều nơi&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp; Trường dạy nghề kết hợp nhà trẻ - Trung&nbsp; Hoà, Cầu Giấy, HN</td>
 </tr>
 <tr>
 <td>&nbsp; Nhà thi đấu NDOORGAME - Mỹ Đình, HN</td>
 </tr>
 <tr>
 <td>&nbsp; Trung tâm y tế dự phòng - 70 Nguyễn Trí Thanh</td>
 </tr>
 <tr>
 <td>&nbsp; Bệnh Viện Mắt T.W - Bà Triệu, HN</td>
 </tr>
 <tr>
 <td>&nbsp; Công viên Yên Sở - Hoàng Mai, HN</td>
 </tr>
 <tr>
 <td>&nbsp; Nhà thi đấu thể thao đa năng ĐH Thái Nguyên - Thái Nguyên</td>
 </tr>
 <tr>
 <td>&nbsp; Hệ thống cấp nước sạch cho thị trấn - Thị trấn Thanh Sơn, Phú Thọ
 <table border="1" cellpadding="0" cellspacing="1">
 <tbody>
 <tr>
 <td>&nbsp; Nhà KT nghiệp vụ ( nhà G) Bệnh viện E - Phường Nghĩa Tân, HN</td>
 </tr>
 <tr>
 <td>&nbsp; Trung tâm Văn hoá Kinh Bắc - Bắc Ninh</td>
 </tr>
 <tr>
 <td>&nbsp; TT&nbsp; nút mạng viễn thông liên tỉnh Khu vực phía Bắc - Hà Nội</td>
 </tr>
 <tr>
 <td>&nbsp; Công an tỉnh Nghệ An - TP. Vinh, Nghệ An</td>
 </tr>
 <tr>
 <td>&nbsp; Nhà ở xã hội Ninh Thuận - Khu phố 5, Phạm Văn Hai, phường Mỹ Bình, TP. Phan Rang, Tháp Chàm, Ninh Thuận.</td>
 </tr>
 </tbody>
 </table>
 &nbsp; Công ty Hoàng Trường - Số 94/1BIS, khu phố 1, phường An Bình, TP. Biên Hòa, Đồng Nai&nbsp;&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp;Trạm kiểm soát cửa khẩu cảng Hòa Phú - Xã Hòa Phú, Huyện Tuy Phong, tỉnh Bình Thuận&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp;Trường Hàm Thắng 03 CS1 - Thôn Ung Chiếm, xã Hàm Thắng, huyện Hàm Thuận Bắc, tỉnh Bình Thuận</td>
 </tr>
 <tr>
 <td>&nbsp;Nhà làm việc Hàm Tân - Thị trấn Hàm Tân, huyện Hàm Thuận Nam, tỉnh Bình Thuận&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp;Trường tiểu học Lê Văn Tám - thị trấn Liên Hương, huyện Hàm Thuận Bắc, tỉnh Bình Thuận&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp;Kho bạc - Nguyễn Tất Thành, phường Hưng Long, TP. Phan Thiết, tỉnh Bình Thuận&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp;Bộ Chỉ huy quân sự tỉnh - Trần Hưng Đạo, phường Phú Thủy, TP. Phan Thiết, tỉnh Bình Thuận&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp;Bệnh viện đa khoa Bắc Bình (gói 21) - Bắc Bình, huyện Hàm Thuận Bắc, tỉnh Bình Thuận&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp;Sở nội vụ - TP. Phan Thiết, tỉnh Bình Thuận&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp;Trường tiểu học Suối Kiết - xã Suối Kiết, huyện Tánh Linh, tỉnh Bỉnh Thuận&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp;Cấp nước Bình An - phường Bình Thắng, thị xã Dĩ An, Bình Dương.&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp;Trường tiểu học Tân Lập 2 - TP. Nha Trang, tỉnh Khánh Hòa&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp;Trường tiểu học Hàm Hiệp 3 - Thôn Xuân Điền, xã Hàm Hiệp, huyện Hàm Thuận Bắc, tỉnh Bình Thuận</td>
 </tr>
 <tr>
 <td>&nbsp;Mặt trận Hàm Thuận Nam - Tỉnh Bình Thuận&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp;Khu thể thao Hàm Cường - Xã Hàm Cường, huyện Hàm Thuận Nam, tỉnh Bình Thuận</td>
 </tr>
 <tr>
 <td>&nbsp;&nbsp;Nhà N6 học viện Quân Y 103 - Hà Đông, HN&nbsp;&nbsp;</td>
 </tr>
 <tr>
 <td>&nbsp; Dự án cung cấp nước sạch - tỉnh Quảng Bình&nbsp;</td>
 </tr>
 </tbody>
</table>